<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>


<body>
    <h1>Vlan generator</h1>
    <form action="/" method="post">
        How many vlans:
        <input id="numberVlans" name="numberVlans" type="text">
        <input type="submit" value="Generate">
    </form>
    <p>
        <%= error %>
    </p>
    <form action="/generate" method="post">
        <% for (let i=0 ; vlanConfig.length> i ; i++ ){ %>
            <p>
                <%=vlanConfig[i].vlanNumber %>: <input value="<%=vlanConfig[i].name %>" name="vlanName" type="text">

                    <% for (var index=0 ; vlanConfig[i].interfaceConfig.length> index; index++){%>
                        <span>Interface:</span>
                        <input type="text" name="interfaceName" value="<%= vlanConfig[i].interfaceConfig[index].interfaceName %>"
                            placeholder="">
                        <label>Switch Port mode:</label>
                        <select name="switchPortMode">
                            <option value="access">Access</option>
                            <option value="trunk">Trunk</option>
                            <option value="dynamic">Dynamic</option>
                        </select>
                        <button type="submit" value="<%=vlanConfig[i].vlanNumber %>" name="deleteInterface">Eliminar</button>
                        <% } %>
                            <button name="addInterface" value="<%=vlanConfig[i].vlanNumber %>" type="submit">+</button>
            </p>

            <% } %>
                <button name="generateText" value="true" type="submit">Generate text</button>
    </form>








    <hr>
    <h3>version 2</h3>
    <div id="output">
        <label>Vlans</label> <button id="addvlan">+</button> <br>
        <form action="/teste" method="POST">
            <input name="vlanInput" type="text"> <button type="button" id="addInterface"> + </button> 
            <div style="width:200px;display:flex; flex-direction: column;" id="inputField">
            </div>
            <p>
                <button type="submit">Create Vlans</button>
            </p>
        </form>
    </div>
</body>

<script>
    let addvlan = document.getElementById("addvlan").addEventListener("click", insertVlan);
    let addInt = document.getElementById("addInterface").addEventListener("click", insertInterface)

    function insertVlan() {

        let output = document.getElementById("inputField");
        let span = document.createElement("span");
        span.style.display = "flex";
        output.appendChild(span);

        let boxInput = document.createElement("input");
        boxInput.name = "vlanInput";
        boxInput.type = "text";
        span.appendChild(boxInput);

        let btnAddInt = document.createElement("button");
        btnAddInt.textContent = "+"
        btnAddInt.type="button"
        btnAddInt.addEventListener("click", insertInterface);
        span.appendChild(btnAddInt);
    }

    function insertInterface() {
        let insereInterface = document.getElementById("adicionaInterface");
        alert("Interface inserida");
    }

    let addInterface = () => {
        
        

    }

    /*
                    <select name="switchPortMode">
                                            <option value="access">Access</option>
                                            <option value="trunk">Trunk</option>
                                            <option value="dynamic">Dynamic</option>
                                        </select>*/


</script>

</html>